#countdown {
	background-color: #828282;
}

#timer {
	text-align: center;
	border: 2px solid black;
	border-radius: 15px;
	width: 50%;
	position: absolute;
}
#container {
	margin: 100px;
}

.controls {
	background-color: gray;
	height: 50px;
	width: 75px;
	margin: 30px;
}

body {
	text-align: center;
}

button {
	font-size: 16px;
	border-radius: 15px;
}

p {
	text-align: center;
	font-size: 100px;
}

#reset {

}

#start {

}