#countdown {
	background-color: #828282;
}
#container {
	margin: 100px;
}

.functions {
	background-color: gray;
}

p {
	text-align: center;
}

#reset {
	background-color: #d1becf;
	width: 50%;
	float: right;
}

#start {
	background-color: pink;
	width: 50%;
	float: left;
}